@charset "utf-8";


/****reset.css
*************************************************/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    /* =400 */
}

a {
    text-decoration: none;
}

/****common.css (공통으로 사용할 디자인)
***********************************************************/
/* float 해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {}


.container {
   /*  border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
}

.container .title {
    border: 2px solid blue;
    width: 100%;
    /*  height: 250px; */
    text-align: center;
    padding: 150px 0 50px;
}

.container .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container .title p {
    font-size: 20px;
    color: #555;
}

.container .content {}

.container .content .box {
    float: left;
}

.container .content .box img {
    width: 320px;
}

.container .content .box h3 {
    font-size: 30px;
    font-display: ;
}

.container .content .box1 img {
    border-top-right-radius: 30%;
}

.container .content .box2 img {
    border-bottom-left-radius: 30%;
}

.container .content .box3 img {
    border-bottom-right-radius: 30%;
}

.container .content .box4 img {
    border-bottom-left-radius: 30%;
}

.container .content .box5 img {
    border-top-right-radius: 30%;
}