@charset "utf-8";

/*** reset.css ***************************************************************************/

* {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal; /* = 400 */
}
a {
    text-decoration: none;
}

/*** common.css (공통으로 사용할 디자인)***************************************************************************/
/* float 해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.best-recipe {
    /* background-color: yellow; */
    margin: 100px 0;
}

.best-recipe .title {
    margin-bottom: 60px;
    text-align: center;
}
.best-recipe .title h2 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.best-recipe .title p {
    font-size: 1.5rem;
    color: #777;
}


.best-recipe .content {
    /* background-color: aquamarine; */

    /* 1번 - 전체 너비 사용, 양쪽 패딩 설정 */
    /* width: 100%;
    padding: 0 100px;
    padding: 0 5%;
    box-sizing: border-box; */

    /* 2번 - width 설정 */
    /* width: 90%;
    max-width: 1720px;
    margin: 0 auto; */

    /* 응용 */
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    padding: 0 5%;
    box-sizing: border-box;
}

.best-recipe .content .box {
    /* outline: 3px solid red; */

    float: left;
    width: 18.4%;

    position: relative; /* h3의 기준!!!+가상요소 before의 기준! */
    overflow: hidden;
}
.best-recipe .content .box ~ .box {
    margin-left: 2%;
}

/* .box의 border-radius 설정! */
.b1 {border-radius: 0 130px 0 0;}
.b2 {border-radius: 0 0 0 130px;}
.b3 {border-radius: 0 0 130px 0;}
.b4 {border-radius: 0 0 0 130px;}
.b5 {border-radius: 0 130px 0 0;}

.best-recipe .content .box a {
    display: block;
}
.best-recipe .content .box a::before {
    content: "";
    display: block;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    position: absolute;
}
/*  .best-recipe .content .box a::after {
    content: "";
    display: block;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    position: absolute;
    left: 0;
    top: 0;
} */

.best-recipe .content .box a img {
    width: 100%;
    display: block;
}
.best-recipe .content .box a h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;

    position: absolute;
    left: 30px;
    top: 30px;
}

