@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

ul::after,
ol::after {
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* float을 해제하는 가상 선택자! */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 100px;
    /* background-color: yellow; */
}

header .inner-header {
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
    height: 100%;

    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

header .inner-header h1 {
    float: left;
    line-height: 100px;
}

header .inner-header nav {
    /* ackground-color: greenyellow; */
    float: right;
    width: 70%;
}

header .inner-header nav li {
    width: 12.5%;
    text-align: center;
    line-height: 100px;
    /*  outline: 1px solid red; */
}

/* 
header .inner-header nav li:hover {
    background-color: #ccff00;
} */

header .inner-header nav li a {
    color: #333;
    display: block;
}

header .inner-header nav li a:hover {
    background-color: pink;
    color: red;
}

/* 
header .inner-header nav li:hover a {
    color: red;
} */

main {
    width: 90%;
    max-width: 1720px;
    margin: 40px auto;
    height: 450px;

    background-color: lemonchiffon;
}

section {
    width: 90%;
    max-width: 1720%;
    margin: 0 auto 50px;
}

section .content {
    background-color: #d9d9d9;
    margin-bottom: 40px;
    padding: 20px;
}

section .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

section .content .con1 {
    width: 20%;
    height: 200px;
    background-color: plum;
    float: left;
}

section .content .con2 {
    width: calc(60% - 40px);
    height: 200px;
    margin: 0 20px;
    background-color: mediumturquoise;
    float: left;
}

section .content .con3 {
    width: 20%;
    height: 200px;
    background-color: orchid;
    float: left;
}

section .banner {
    background-color: darkseagreen;
    padding: 40px 0 50px;
}

footer {
    width: 100%;
    background-color: #d9d9d9;
    padding: 40px 0 50px;
}
footer a {
    color: #333;
}
footer .inner-footer {
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;

    /* outline: 2px solid blue; */
}
footer .inner-footer .logo-bottom {
    float: left;
}

footer .inner-footer .links {
    float: right;
}
footer .inner-footer .links li {
    margin-left: 30px;
}