@charset "utf-8";

/*** reset ********************************************************/
* {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* float을 해제하는 가상요소 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}
/* 영역의 제목 공통 디자인 */
.title {
    font-size: 30px;
}

body {
    background-image: url(../images/bg.jpg);
    color: #fff;
}

header {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-header.jpg);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
header .inbox {
    width: 960px;
    margin: 0 auto;

    /* outline: 2px solid lime; */
}

header .logo {
    /* outline: 2px solid yellow; */

    float: left;
    height: 100px;
    background-image: url(../images/header-triangle.png);
    background-repeat: no-repeat;
    background-position: right top;

    padding-right: 120px; /* 이미지 너비 116px+여백 4px */
    margin-left: 32px;
}
header .logo a {
    display: block;
}
header .logo a img {
    margin-top: 50px;
}


header .gnb {
    /* outline: 2px solid yellow; */

    float: right;
    margin-top: 50px;
}
header .gnb ul {}
header .gnb ul li {
    display: inline-block;
    margin-left: 14px;
    font-size: 18px;

    position: relative; /* 가상요소 before의 기준!!! */

    /* outline: 2px solid red; */
}
header .gnb ul li::before {
    content: "/";
    position: absolute;
    left: -13px;
}
header .gnb ul li:first-child::before {
    display: none;
}
header .gnb ul li a {}
header .gnb ul li a:hover {
    color: greenyellow;
    text-decoration: underline;
}

section {
    width: 960px;
    margin: 0 auto;

    background-image: url(../images/bg-triangle.png);
    background-repeat: no-repeat;

    /* outline: 2px solid lime; */
}

section .about {
    height: 550px;
    /* background-image: url(../images/triangles.png);
    background-repeat: no-repeat;
    background-position: 122px 142px; */

    background: url(../images/triangles.png) no-repeat 122px 142px;

    /* background: color url repeat position/size attachment; */

    border-bottom: 1px solid silver;
    position: relative; /* .title, .txt-box의 기준!!! */
    margin-bottom: 15px;
}
section .about .title {
    position: absolute;
    right: 190px;
    top: 150px;
}
section .about .txt-box {
    width: 250px;
    font-size: 15px;
    letter-spacing: -0.8px;

    position: absolute;
    right: 0;
    bottom: 15px;
}
section .about .txt-box p {
    margin-bottom: 10px;
}
section .about .txt-box p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: yellow;
}
section .about .txt-box p:last-child {
    margin-bottom: 0;
}
section .about .txt-box p a:hover {
    background-color: #fff;
    color: #333;
}


section .content {
    margin-bottom: 40px;
}
section .content .title {
    font-size: 24px;
    margin-bottom: 20px;
}
section .content .box-wrap {
    /* background-color: tomato; */
}
section .content .box-wrap .box {
    width: 23.5%;
    float: left;

    /* outline: 2px solid lime; */
}
section .content .box-wrap .box ~ .box {
    margin-left: 2%;
}

.box img {
    width: 100%;
    display: block;
}
.box ul {}
.box ul li {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.box ul li:last-child {
    border-bottom: 0;
}

footer {
    width: 100%;
    background-image: url(../images/bg-header.jpg);
    font-size: 14px;
    color: silver;
    padding: 20px 0 30px;
}
footer a {
    color: silver;
}

footer .links {
    width: 960px;
    margin: 0 auto;

    text-align: right;
}
footer .links p {
    display: inline-block;
    margin-left: 14px;

    position: relative; /* 가상요소 before의 기준! */
}

footer .links p::before {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background-color: silver;

    position: absolute;
    left: -10px;
    top: 3px;
}
footer .links p:first-child::before {
    display: none;
}

footer .links p a:hover {
    text-decoration: underline;
}