@charset "utf-8";

/* recipe-detail.css */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

h1.logo {
    font-size: 3rem;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 30px;
}

div.detail-content {
    margin-bottom: 150px;
}

.detail-content .title {
    text-align: center;
    margin-bottom: 60px;
}

.detail-content .title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.detail-content .title .des {
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.detail-content .title .keyword span {
    display: inline-block;
    font-size: 18px;
    background-color: burlywood;
    color: #fff;
    padding: 6px 12px;
    margin-right: 6px;
    font-weight: 600;

    border-radius: 30px;
}

.detail-content .main-img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;
   /*  outline: 2px solid red; */
}

.detail-content .main-img img {
    width: 100%;
    display: block;
}

.detail-content .button {
    border: 2px solid burlywood;
    font-size: 18px;

    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: burlywood;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.detail-content .button a.back {
    display: block;

}

.detail-content .button:hover {
    background-color: burlywood;
    color: #fff;
}